<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541725876471-vlguicc6cmqokfrfttscvsdcalrts8cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541725876471-vlguicc6cmqokfrfttscvsdcalrts8cv</string>
	<key>API_KEY</key>
	<string>AIzaSyB96FrmQwttXECjQZMWP4a7C8H5JmKWFPo</string>
	<key>GCM_SENDER_ID</key>
	<string>541725876471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapchat.trackchat</string>
	<key>PROJECT_ID</key>
	<string>mltest-39e17</string>
	<key>STORAGE_BUCKET</key>
	<string>mltest-39e17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541725876471:ios:69f1f4506ebb63da6033f2</string>
	<key>DATABASE_URL</key>
	<string>https://mltest-39e17.firebaseio.com</string>
</dict>
</plist>